.username input {
    padding: 10px;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.username h3 {
    padding: 0px;
    position: relative;
    left: 10px;
    font-weight: normal;
}


